body {
    background-color: #181C49;
    padding: 0px;
    margin: 0px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
    gap: 20px;
    padding: 16px;
    width: 98%;
}

.item {
    padding: 0px;
    text-align: center;
    min-height: 250px;
    aspect-ratio: 0.67 / 1;
    box-shadow: 5px 5px 10px #070F2B;
    color: white;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    border-radius: 3px;
}

.item:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.item-title-overlay {
    position: absolute;
    bottom: 0;
    background-color: #070F2B;
    color: #E0D8F3;
    padding: 10px 5px;
    opacity: 0; 
    transition: opacity 0.3s;
    font-weight: BOLD;
    font-style: normal;
    font-size: 22px;   

}
.item:hover .item-title-overlay {
    opacity: 0.8;
}
.header {
    color: #E0D8F3;
    padding: 20px;
    text-align: left    ;
    background-color: #232962;
    border: solid #181C49;
    box-shadow: 2px 2px 5px #070F2B;
}

