body {
    background-color: #181C49;
    padding: 0px;
    margin: 0px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 16px;
    width: 98%;
    
}
h1,h2,h3,h4,h5,p,.secondTitle{
    text-shadow: 5px 5px 10px#070F2B;
}

.item {
    padding: 0px;
    text-align: center;
    min-height: 250px;
    aspect-ratio: 0.67 / 1;
    box-shadow: 5px 5px 10px #070F2B;
    color: white;
    position: relative;

}

.item img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    border-radius: 3px;
    box-shadow: 5px 5px 10px #070F2B;

}

.item:hover img {
    transform: scale(1.1);
    cursor: pointer;

}

.item-title-overlay {
    position: absolute;
    bottom: 0;
    background-color: #070F2B;
    color: #E0D8F3;
    padding: 10px 5px;
    opacity: 0; 
    transition: opacity 0.3s;
    font-weight: BOLD;
    font-style: normal;
    font-size: 22px;
}
.item:hover .item-title-overlay {
    box-shadow: 5px 5px 10px #070F2B;
    opacity: 0.8;
}
header {
    color: #E0D8F3;
    padding: 20px;
    text-align: center    ;
    background-color: #232962;
    border: solid #181C49;
    box-shadow: 2px 2px 5px #070F2B;
    display: flex;
    flex-direction: row;
}
.game-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;
    color: #E0D8F3;
    font-size: 30px;
}

.game-grid img {
    border-radius: 3px;
    height: 75%;
    box-shadow: 5px 5px 10px #070F2B;
    transition: transform 0.2s;
}
.game-grid img:hover {
    transform: scale(1.03);
}
#gamePublisher,
#gameDeveloper {
    margin: 5px;
    padding: none;
}
#gameDescription{
    margin-top: 20px;
}
.homeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.homeButton img {
    width: 30px;
    color: #E0D8F3;
    margin-bottom: -10px;
    margin-right: 10px;
}
.homeButton:hover {
    transition: transform 0.2s;
    transform: scale(1.1) ;
}

footer {
    color: #E0D8F3;
    text-align: center    ;
    background-color: #232962;
    border: solid #181C49;
    box-shadow: 2px 2px 5px #070F2B;

}
